@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap");

body {
  @apply bg-white dark:bg-ben-verydark dark:text-white;
}

* {
  font-family: "Readex Pro", sans-serif;
}

.heading {
  font-weight: 900;
  font-size: 32px;
}

.heading-2 {
  font-weight: 900;
  font-size: 22px;
  margin-top: 1rem;
}

.nav-list {
  @apply flex gap-10 my-3;
}

.nav-list li {
  @apply border-b border-dotted border-gray-500 hover:border-gray-100 cursor-pointer;
}

.navlink-r {
  @apply border-b hover:border-b-2 hover:border-r-2 hover:border-black dark:hover:border-white px-1 border-r  rounded-sm;
}

.navlink-l {
  @apply border-b hover:border-b-2 hover:border-l-2 hover:border-black dark:hover:border-white px-1 border-l rounded-sm;
}

.active-stage {
  @apply border-2 scale-125;
  background-color: rgb(30, 172, 30) !important;
}

.button-primary {
  @apply bg-black hover:bg-black dark:bg-white dark:text-black text-white cursor-pointer rounded-lg px-3 py-2;
}